.header {
    background: url("../../assets/images/mars-surface.jpg") no-repeat center/cover;
    padding: 10em 0;
    border-radius: 0 0 15px 15px;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.35);

    &__title {
        background: linear-gradient(175deg, #FFF 10%, #ac6543 120%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: clamp(32px, 4vw, 48px);
        text-align: center;
        text-transform: uppercase;
    }
}