@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;600;700&display=swap');
@import "./styles/variable.scss";

body {
  margin: 0;
  font-family: $font-primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $bg-color;
}
